    /*-------------------
           styles 
     -------------------*/

body{
    font-family: 'Roboto Slab', serif;
    background-color: rgb(253, 247, 239);
    color: rgba(0, 0, 0, 0.884);
}
  /* Heading */
.heading{
    margin: 50px 100px;
}
 /* -----Influencer products section----- */
.influencer{
    display: flex; 
    margin-bottom: 80px;
}
.main-heading{
    font-size: 55px;
}
.product-info, .main-camera{
    width: 70%;
    margin-left: 90px;
}
.product-info p {
    margin-top: -10px;
}
.main-camera:hover img{
    transform: scale(1.1);
    transition: transform 0.4s;
}
/*-- button styles --*/
button{
    background-color: rgb(235, 63, 154);
    padding: 12px 35px;
    font-size: 17px;
    font-weight: bolder;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 7px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(161, 29, 161);
    font-size: 19px;
    transition: 0.3s ease-out;
}
button:hover .fa-arrow-right {
    margin-left: 15px;
    transition: 0.3s;
}
 
/*------ Popular Collection section -----*/
.popular-collection{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.collection-title{
    text-align: center;
    font-size: 34px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(240, 243, 245);
    width: 95%;
    border-radius: 12px;
}
.collection{
    margin: 30px;
    padding: 26px;
    background-color: white;
    padding-right: 40px;
    border-radius: 10px;
}
.fa-star, .fa-star-half-alt{
    font-size: 12px;
    color: rgb(247, 159, 28) ;
}
.rating span{
    padding-left: 15px;
    font-size: 15px;
}
.see-more{
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    position: relative;
    left: 4in;
    color: rgb(235, 63, 154);
}

    